{% extends "base.html" %}

{% block contents %}
<link rel="stylesheet" href="static/style.css" />
<div class="row mt-2 mx-2">
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">현재사용전력(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.consumed_now }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">당일 피크전력(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.peakoftoday }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">당월 피크전력(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.peakofmonth }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">피크 관리목표(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.peaktarget }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">요금적용전력(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.baselined }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">계약전력(kW)</h5>
        <p class="card-text"><h3>{{ mgt_target.contracted }}</h3></p>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 mx-2">
  <div class="col-sm-9">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">실시간 사용추이</h5>
        <div id="realTimeChart" style="height: 200px; width: 100%;"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">피크 관리목표 대비 현황</h5>
        <div id="myChart233" style="width:100%; max-width:600px; height:200px;"></div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2 mx-2">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">이번 달 전력사용량(kWh)</h5>
        <p class="card-text"><h3>{{ energysum.cmonth_E }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">이번 달 시간대 별 전력량(kWh)</h5>
        <p class="card-text"><h5>최대부하  |  중부하  |   경부하</h5></p>
        <p class="card-text"><h3>{{ energysum.cmonth_H }}  |  {{ energysum.cmonth_M }}  |  {{ energysum.cmonth_L }}</h3></p>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body text-primary-emphasis bg-light border border-primary-subtle rounded-3">
        <h5 class="card-title">이번 달 사용요금(원)</h5>
        <p class="card-text"><h3>{{ energysum.total_amount }}</h3></p>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '# of Votes',
        data: [12, 19, 3, 5, 2, 3],
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
  const owner = document.getElementById('ownername').innerHTML
  const sensorid = document.getElementById('sensorid')
  console.log(owner)
  console.log(sensorid)
  const ctx = document.getElementById('myChart');

  $.ajax({
    url:  "{% url 'fetch_energy_values_ajax' %}",
    dataType: 'json',
    data: {ownername: owner},
    success: function (data) {
      console.log(data);
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: data.cm_act.gre000205.labels,
          // labels: [],
          datasets: [{
            label: 'sum of 3 phase energy',
            data:  data.cm_act.gre000205.energy_sum,
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    }
  });
</script>
{% endblock %}